<h1>New Board</h1>
<form ng-submit="newBoardCtrl.addBoard(newBoard)">
	<span>Name: </span><input type="text" ng-model="newBoard.name">
	<br>
	<span>Shaper: </span><input type="text" ng-model="newBoard.shaper">
	<br>
	<span>Feet: </span>
	<select name="mySelect" id="mySelect" 
		ng-options="option.value for option in newBoardCtrl.feetOptions track by option.value"
		ng-model="newBoard.feet">
	</select>
	<span>Inches: </span>
	<select name="mySelect" id="mySelect" 
		ng-options="option.value for option in newBoardCtrl.inchOptions track by option.value"
		ng-model="newBoard.inches">
	</select>
	<br>
	<span>Width</span><input type="text" ng-model="newBoard.width">
	<br>
	<span>Thickness</span><input type="text" ng-model="newBoard.thickness">
	<br>
	<span>Fins</span>
	<select name="mySelect" id="mySelect" 
		ng-options="option.value for option in newBoardCtrl.finsOptions track by option.value"
		ng-model="newBoard.fins">
	</select>


	<br>
	<br>
	<input type="submit" id="submit" value="Submit!">
</form>