body{
  background-color: #EFEFEF;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

li{
  display: block;
  display: inline;
}

li a{
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
  border-radius: 3px;
  -webkit-box-shadow: 9px 9px 15px 5px rgba(158,158,158,0.6);
  -moz-box-shadow: 9px 9px 15px 5px rgba(158,158,158,0.6);
  box-shadow: 9px 9px 15px 5px rgba(158,158,158,0.6);
}

li a:hover{
  color: #fff;
  background-color: #369;
}

footer{
  text-align: center;
}

footer a{
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #036;
  border-radius: 3px;
  -webkit-box-shadow: 9px 9px 15px 5px rgba(158,158,158,0.6);
  -moz-box-shadow: 9px 9px 15px 5px rgba(158,158,158,0.6);
  box-shadow: 9px 9px 15px 5px rgba(158,158,158,0.6);
}

footer a:hover{
  color: #fff;
  background-color: #369;
}

form .progress{
  line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

#mainDiv{
  width: 85%;
  border: 1px solid black;
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

#contactMainDiv{
  width: 85%;
  border: 1px solid red;
  margin-left: auto;
  margin-right: auto;
}
/* styles in src/style directory are applied to the whole page */
/*body {
  background: #0147A7;
  color: #fff;
}

a {
  color: #03A9F4;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}*/



/*

.ng-enter {
  transition-delay: 0.5s;
  transition:0.5s linear all;
  opacity:0;
}
.ng-enter.ng-enter-active {
  transition-delay: 0.5s;
  opacity:1;
}
.ng-leave {
  transition:0.5s linear all;
  opacity:1;

}
.ng-leave.ng-leave-active {
  opacity:0;
  margin-left:20px;
}
.fade.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}
@keyframes my_fade_animation {
    from { opacity:1;  }
      to { opacity:0;  margin-left:20px; }
}
@-webkit-keyframes my_fade_animation {
    from { opacity:1;  }
      to { opacity:0;  margin-left:20px;}
}*/