<div id="mainDiv">
		<div class="filterBar">
			<span class="dropdown-desc">Shaper: </span>
			<div class="dropdown">
				<!-- <span class="dropdown-selected">{{boardFilter.shaper ? shaperString : 'All'}}</span> -->
				<span class="dropdown-selected" ng-if="boardFilter.shaper && boardFilter.shaper !== '!!'">
					<a class="dropdown-selected" ng-click="boardsCtrl.setShaperFilter('!!', 'All')" href="">{{shaperString}}<img class="dropdown-selected" id="select-icon" ng-src="/img/cross.png" alt=""></a>
				</span>
				<span class="dropdown-selected" ng-if="!boardFilter.shaper || boardFilter.shaper =='!!'">
					All<img class="dropdown-selected" id="select-icon" ng-src="/img/down-arrow.png" alt="">
				</span>
				<div class="dropdown-content">
					<span class="dropdown-item">
						<a href="" ng-click="boardsCtrl.setShaperFilter('!!', 'All')">All</a><br>
					</span>
					<div class="dropdown-item" ng-repeat="shaper in boardsCtrl.shaperOptions" ng-click="boardsCtrl.setShaperFilter(shaper, shaper)">
						<a href="">{{shaper}}</a><br>
					</div>
				</div>
			</div>
			
			<span class="dropdown-desc">Fins: </span>
			<div class="dropdown">
				<span class="dropdown-selected" ng-if="boardFilter.fins && boardFilter.fins !== '!!'">
					<a class="dropdown-selected" ng-click="boardsCtrl.setFinsFilter('!!', 'All')" href="">{{finsString}}<img class="dropdown-selected" id="select-icon" ng-src="/img/cross.png" alt=""></a>
				</span>
				<span class="dropdown-selected" ng-if="!boardFilter.fins || boardFilter.fins =='!!'">
					All<img class="dropdown-selected" id="select-icon" ng-src="/img/down-arrow.png" alt="">
				</span>
				<div class="dropdown-content">
					<div class="dropdown-item" ng-repeat="fins in boardsCtrl.finOptions" ng-click="boardsCtrl.setFinsFilter(fins.value, fins.string)">
						<a href="" >{{fins.string}}</a><br>
					</div>
				</div>
			</div>


			<span class="dropdown-desc">Min Feet: </span>
			<div class="dropdown">
				<span class="dropdown-selected" ng-if="minFeet && minFeet !== '!!'">
					<a class="dropdown-selected" ng-click="boardsCtrl.setMinFilter(null)" href="">{{minFeet}} ft<img class="dropdown-selected" id="select-icon" ng-src="/img/cross.png" alt=""></a>
				</span>
				<span class="dropdown-selected" ng-if="!minFeet || minFeet =='!!'">
					All<img class="dropdown-selected" id="select-icon" ng-src="/img/down-arrow.png" alt="">
				</span>
				<div class="dropdown-content">
					<div class="dropdown-item" ng-click="boardsCtrl.setMinFilter(null)">
						<a href="">None</a><br>
					</div>
					<div class="dropdown-item" ng-repeat="feet in boardsCtrl.feetOptions" ng-click="boardsCtrl.setMinFilter(feet)">
						<a href="">{{feet}}</a><br>
					</div>
				</div>
			</div>

			<span class="dropdown-desc">Max Feet: </span>
			<div class="dropdown">
				<span class="dropdown-selected" ng-if="maxFeet && maxFeet !== '!!'">
					<a class="dropdown-selected" ng-click="boardsCtrl.setMaxFilter(null)" href="">{{maxFeet}} ft<img class="dropdown-selected" id="select-icon" ng-src="/img/cross.png" alt=""></a>
				</span>
				<span class="dropdown-selected" ng-if="!maxFeet || maxFeet =='!!'">
					All<img class="dropdown-selected" id="select-icon" ng-src="/img/down-arrow.png" alt="">
				</span>
				<div class="dropdown-content">
					<div class="dropdown-item" ng-click="boardsCtrl.setMaxFilter(null)">
						<a href="">None</a><br>
					</div>
					<div class="dropdown-item" ng-repeat="feet in boardsCtrl.feetOptions"  ng-click="boardsCtrl.setMaxFilter(feet)">
						<a href="">{{feet}}</a><br>
					</div>
				</div>
			</div>

		</div>


		<div class="boards-error" ng-show="!filteredBoards.length">No matches. Broaden your search for more results.</div>
		<ul class="gallery">
			<li ng-repeat="board in (filteredBoards = (boardsCtrl.data | filter:boardFilter | boardRange:this))" class="gallery-post">
				<a ui-sref="detailedBoardState({id: '{{board.id}}'})">
					<div class="board-thumbnail" ng-style="{'background-image': 'url(' + {{ boardsCtrl.checkFeatured(board.featuredimg) ? 'board.featuredimg' : 'board.images[0].url' }} + ')'}">
						<div class="hoverCover">
							<span class="hoverText">{{board.feet}}'{{board.inches}} {{board.name}}</span>
						</div>
					</div>
				</a>
				<a href="" ng-click="boardsCtrl.delete(board.id)">Delete </a>
				<a ui-sref="editBoardState({id: '{{board.id}}'})">Edit</a>
			</li>
		</ul>
</div>