<div class="detailBoard">

	<!-- <ul class="gallery">
		<li ng-repeat="image in detailCtrl.data.images" class="gallery-post">
			<img ng-src="{{image.url}}" class="board-thumbnail">
			<div class="hoverCover">
				<span class="hoverText"></span>
			</div>
		</li>
	</ul> -->
		
	<div class="slider-for">
		<div class="board-slider-main" ng-repeat="image in detailCtrl.data.images" ng-style="{'background-image': 'url(' + {{ 'image.url' }} + ')'}">
			<img id="fake-display" ng-src="{{image.url}}" alt="">
		</div>
	</div>

	<div class="detailBoard-right-column">
		<div class="board-description">
			<h1>{{detailCtrl.data.shaper}}</h1>
			<h3>{{detailCtrl.data.name}}</h3>
			<p>{{detailCtrl.data.feet}}'{{detailCtrl.data.inches}} x {{detailCtrl.data.width}} x {{detailCtrl.data.thickness}} </p>		
<!-- 			<p>Fin Boxes: {{detailCtrl.data.fins}}</p> -->
		</div>

		<div class="slider-nav">
			<div class="board-slider-thumbnails" ng-repeat="image in detailCtrl.data.images" ng-style="{'background-image': 'url(' + {{ 'image.url' }} + ')'}">
	<!-- 				<img ng-src="{{image.url}}" alt=""> -->
			</div>
		</div>
	</div>


	<script>
		$(document).ready(setTimeout(function(){
		   $('.slider-for').slick({
		    slidesToShow: 1,
		    slidesToScroll: 1,
		    arrows: false,
		    fade: true,
		    asNavFor: '.slider-nav'
		  });
		  $('.slider-nav').slick({
		  	// outEdgeLimit: true,
		  	// placeHolders: false,
		  	// infinite: true,
		  	variableWidth: true,
		  	infinite: true,
		  	arrows: true,
		    slidesToShow: 1,
		    asNavFor: '.slider-for',
		    dots: true,
		    centerMode: true,
		    focusOnSelect: true
		  });
		}, 500));
	</script>
</div>